
body {
    width: 99%;
    height: 100%;
    --s: 200px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;


    background: repeating-conic-gradient(
            from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg
    ) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
            from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
}
body {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6E473B;
    border-radius: 20px;
    width: 450px;
    height: 600px;
    flex-direction: column; 
}

.card-main button{
    background: #A78D78;
    color: #E1D4C2;
    height: 48px;
    width: 300px;
    font-size: 34px;
    border-radius: 20px;
    transition: border-radius 0.3s ease;
    
}

.card-main button:hover{
    border-radius: 0px;
}

.card-main-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-main-data span {
    color: #BEB5A9;
    font-size: 20px;
    margin-right: 10px;
}

.card-main-data input {
    font-size: 16px;
    height: 35px;
    width: 200px;
    border-radius: 15px;
    background: #E1D4C2;
    caret-color: transparent;
    text-align: center;
    transition: border-radius 0.3s ease;
}


.card-main-data input:focus {
    outline: none;
    border-radius: 0px;
}


.enter-words {
    position: relative;
    bottom: 100px;
    display: flex;
    font-size: 40px;
    color: #E1D4C2;
}