body {
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
         }
  
.top-panel {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.nav-menu li {
    padding: 15px 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu a:hover {
    color: #D2691E;
}

/* Добавим отступ для основного контента, чтобы он не прятался под панелью */
.container {
    margin-top: 60px;
}
  